<h1>Projects belong "test" user</h1>

<ui>

<% @projects.each do |p| %>

  <li>
    <%= p.pjname %>
  | <%= link_to "delete", p, method: :delete,
                   data: { confirm: "You sure?" } %>
  </li>


<% end %>

</ui>
